<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Quote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"/>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
            th:src="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Quote</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-10">
                        <p id="quoteField" th:text="${quoteText}" />
                    </div>
                    <div class="col-xs-2">
                        <form action="#" th:action="@{/quote}" method="get">
                            <button type="submit" class="btn">Refresh</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>